PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        full_name TEXT NOT NULL,
        symbol_number TEXT UNIQUE NOT NULL,
        course TEXT NOT NULL,
        shift TEXT NOT NULL,
        batch TEXT NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
      );
INSERT INTO students VALUES(3,'Nischal Naharki','CSITNNCS','BSC.CSIT','A','2083','2026-05-29 14:09:13');
INSERT INTO students VALUES(29,'Aagaman Karki','CSITAKCS','BSC.CSIT','A','2083','2026-05-30 09:46:35');
INSERT INTO students VALUES(30,'Bikey Sah','CSITBSCS','BSC.CSIT','A','2083','2026-05-30 09:47:02');
CREATE TABLE exams (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        exam_name TEXT NOT NULL,
        course TEXT NOT NULL,
        topic_name TEXT NOT NULL,
        nepali_date TEXT NOT NULL,
        shift TEXT NOT NULL,
        total_questions INTEGER DEFAULT 25,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
      );
INSERT INTO exams VALUES(6,'BSC.CSIT - english','BSC.CSIT','english','2083-12-15','A',25,'2026-05-29 14:10:20');
INSERT INTO exams VALUES(13,'BSC.CSIT - Computer GK','BSC.CSIT','Computer GK','2083-02-15','A',25,'2026-05-30 10:02:24');
CREATE TABLE questions (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        exam_id INTEGER NOT NULL,
        question_number INTEGER NOT NULL,
        section TEXT NOT NULL CHECK(section IN ('A', 'B', 'C')),
        difficulty TEXT NOT NULL,
        correct_option TEXT NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, question_text TEXT, option_b TEXT, option_a TEXT, option_c TEXT, option_d TEXT,
        FOREIGN KEY (exam_id) REFERENCES exams(id) ON DELETE CASCADE,
        UNIQUE(exam_id, question_number)
      );
INSERT INTO questions VALUES(1,1,1,'A','Easy','B','2026-05-29 08:32:02',NULL,NULL,NULL,NULL,NULL);
INSERT INTO questions VALUES(2,1,2,'A','Easy','C','2026-05-29 08:32:02',NULL,NULL,NULL,NULL,NULL);
INSERT INTO questions VALUES(3,4,1,'A','Easy','B','2026-05-29 13:59:14',NULL,NULL,NULL,NULL,NULL);
CREATE TABLE results (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id INTEGER NOT NULL,
        exam_id INTEGER NOT NULL,
        score INTEGER NOT NULL,
        percentage REAL NOT NULL,
        rank INTEGER,
        section_a_score INTEGER DEFAULT 0,
        section_b_score INTEGER DEFAULT 0,
        section_c_score INTEGER DEFAULT 0,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP, updated_by TEXT, attendance_status TEXT NOT NULL DEFAULT 'PRESENT',
        FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
        FOREIGN KEY (exam_id) REFERENCES exams(id) ON DELETE CASCADE,
        UNIQUE(student_id, exam_id)
      );
INSERT INTO results VALUES(1,1,1,1,4.0,1,1,0,0,'2026-05-29 08:32:02',NULL,NULL,'PRESENT');
INSERT INTO results VALUES(2,2,2,18,72.0,1,7,6,5,'2026-05-29 13:24:42',NULL,NULL,'PRESENT');
INSERT INTO results VALUES(3,2,3,20,80.0,1,8,7,5,'2026-05-29 13:24:42',NULL,NULL,'PRESENT');
CREATE TABLE weekly_reports (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id INTEGER NOT NULL,
        week_start TEXT NOT NULL,
        week_end TEXT NOT NULL,
        ai_feedback TEXT,
        teacher_remark TEXT,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE
      );
CREATE TABLE admin_users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        username TEXT UNIQUE NOT NULL,
        password TEXT NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
      );
INSERT INTO admin_users VALUES(1,'admin','240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9','2026-05-29 13:54:39');
CREATE TABLE review_requests (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id INTEGER NOT NULL,
        exam_id INTEGER NOT NULL,
        question_number TEXT NOT NULL,
        reason TEXT NOT NULL,
        status TEXT NOT NULL DEFAULT 'Pending',
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
        FOREIGN KEY (exam_id) REFERENCES exams(id) ON DELETE CASCADE
      );
CREATE TABLE student_answers (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            student_id INTEGER NOT NULL,
            exam_id INTEGER NOT NULL,
            question_number INTEGER NOT NULL,
            selected_option TEXT,
            student_answer TEXT,
            is_correct BOOLEAN NOT NULL DEFAULT 0,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE,
            FOREIGN KEY (exam_id) REFERENCES exams(id) ON DELETE CASCADE,
            UNIQUE(student_id, exam_id, question_number)
          );
INSERT INTO student_answers VALUES(1,1,1,1,'C',NULL,0,'2026-05-29 08:32:02');
INSERT INTO student_answers VALUES(2,1,1,2,'C',NULL,1,'2026-05-29 08:32:02');
INSERT INTO student_answers VALUES(28,1,4,1,'B',NULL,1,'2026-05-29 14:00:16');
INSERT INTO sqlite_sequence VALUES('students',37);
INSERT INTO sqlite_sequence VALUES('exams',13);
INSERT INTO sqlite_sequence VALUES('questions',402);
CREATE INDEX idx_students_course ON students(course);
CREATE INDEX idx_students_shift ON students(shift);
CREATE INDEX idx_exams_course ON exams(course);
CREATE INDEX idx_questions_exam_id ON questions(exam_id);
CREATE INDEX idx_questions_section ON questions(section);
CREATE INDEX idx_results_exam_id ON results(exam_id);
CREATE INDEX idx_results_student_id ON results(student_id);
CREATE INDEX idx_weekly_reports_student_id ON weekly_reports(student_id);
CREATE INDEX idx_student_answers_exam_id ON student_answers(exam_id);
CREATE INDEX idx_student_answers_student_id ON student_answers(student_id);
COMMIT;
